


/* home */
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
  box-sizing: border-box;
  
}

body {
	background: linear-gradient(-45deg, #034b27b7, #1d0250cc, #071168, #23d5ab);
	background-size: 400% 480%;
	animation: gradient 60s ease infinite;
    position: relative;

}
body::after {
    content: '';
    display: block;
}

body, html {
    width: 100%;
    height: 100%;    
}

.centralize{
    height: 100%;
}
.container{
    min-height: 100%;
}

.full-height-container {
    height: 100%;
}

@media  (max-width: 768px) {
    .perfil-container {
        margin-bottom: 1rem;

    }
    .full-height-container {
        height: auto
    }}

div#captioned-gallery { 
  margin-top: 1rem;  
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: #0711688c;
  color: #ffffff; width: 100%;
  font-size: 2rem; padding: .6rem; 
  display: flex;
  justify-content: center;
}

.contentHero{
    margin-top: 2rem;
}

.imagem {
    width: 168px;
    height: 200px;
    image-rendering: pixelated;
 
  }
  


#image2{
    margin-left: -6rem;
}
.imagem{
    margin-top: -3rem;
}

#image5{
    margin-left: -3rem;
}

.end-roll{
    margin-top: 5rem;
}

.botaoLogin{    
	background: linear-gradient(-45deg, #034b27b7, #1d0250cc, #071168, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 60s ease infinite;
}


.container-logged {
    padding-top: 6rem !important;
}

.media-text{
    margin-top: 10px;
}

.content-login  h3{
    color: #031809!important;
    max-width: initial!important;
}

.bodyHome .home  h1, h2, h3 {   
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.home h1{
    font-size: 35px!important;
    max-width: 45%;
}


@media (max-width: 768px) {
    .media {
        flex-direction: column;
    }
    .media img {
        margin: 0 auto;
    }


    
}
@media (min-width: 414px) and (max-width: 768px) {
    #image2 {
        margin-left: 11rem!important;
    }
}


@media  (max-width: 414px) {
    #image2 {
        margin-left: 6rem!important;
    }
}

@media (max-width: 540px) {
    .home h1 {
        max-width: 60%!important;
    }
    .home h2 {
        margin-top: 3rem!important;
        max-width: 100%!important;

    }
    .content {
        margin-top: 2rem!important;
    }

    .row-images:first-of-type {
        margin-top: 1rem!important;
    }

    .row-images {
        margin-top: 2rem!important;
    }
}




.home h2{
    max-width: 52%;
    margin-top: 5rem;

}

.home h3{
    max-width: 55%;
    font-size: 18px!important;
}

.home p{
    color: #fff!important;
}



.callToAction{
    margin-top: 1rem;
}

.callToAction h3{
    margin: 3rem;
}

.btn{
    border-radius: 0%;
}

.home .btn-secondary:first-of-type{
    width: 15%;
}

.home .btn-secondary{
    background: transparent;
}

@media (max-width: 418px) { 
    
    .button-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column; 
        width: 100%!important; 
        margin-bottom: 10px; 
    }
    .first-button a {
        margin-left: 9rem;
    }
    .second-button a {
        margin-left: 6rem;
    }

}




.content-login .btn-primary {
    width: 100%;
}

.content-logo{
    width: 55%;
}

.content-login {
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    background: #ffffff;
    backdrop-filter: blur(3px);
}

label {
    font-size: 14px;
    font-weight: 300;
    color: #031809;
}

.content{
    margin-top: 6rem;
    color: white;
}


i {
    font-size: 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#social-media{
    text-decoration: none;
    color: #5a5a5a; 
}

#social-media:hover{
    text-decoration: none;
    color: #390de0; 
}

footer p{
    color: #5a5a5a;
}

button a{
    text-decoration: none;
    color: white;
}


/* sobre nos  */
#circle-shape-example { 
    color: white;
    margin: 2rem; 
}
#circle-shape-example p { 
  line-height: 1.8; 
}

#circle-shape-example .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

@media (min-width: 768px) and (max-width: 992px) {
    #circle-shape-example .curve { 
        float: none;
    }
    #circle-shape-example h2{
        margin-top: 1rem;
    }
    #circle-shape-example p { 
        text-align: center;
        margin-top: 1rem;
    }
    .curve{
        margin-left: 13rem;
    }
}

@media (min-width: 415px) and (max-width: 767px) {
    #circle-shape-example .curve { 
        float: none;
    }
    #circle-shape-example h2{
        margin-top: 1rem;
    }
    #circle-shape-example p { 
        text-align: center;
        margin-top: 1rem;
    }
    .curve{
        margin-left: 9rem;
    }
}




@media (max-width: 414px) {
    #circle-shape-example .curve { 
        float: none;
    }
    #circle-shape-example h2{
        margin-top: 1rem;
    }
    #circle-shape-example p { 
        text-align: center;
        margin-top: 1rem;
    }
    .curve{
        margin-left: 5rem;
    }
}



/* perfil  */
.certificado h3 {
    color: hsl(0, 0%, 0%);
}

.certificado p {
    font-size: 16px;
}

.certificado .btn-secondary {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 2rem;
}


.progress {
    margin: 10px;
    width: 700px;
  }


.perfil-imagem {
    width: 175px;
    height: 150px;
    border-radius: 50%;
    margin-top: 0rem;
    }

.info{
    margin-top: 3%;
}


.info-label {
    font-weight: bold;
}

.info-container{
    background-color: white;
    border-radius: 29px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    height: auto;

}

.progress-bar h3{
    color: black;
    align-self: center;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
}



@media  (max-width: 280px) {
    .info-container{
        margin-top: 1rem!important;
        width: 17rem!important;
    }
    .info-item{
        margin-top: 2rem;
        text-align: center;
    }
    .progress{
        width: 200px;
    }

    .progress-bar h3{
        font-size: medium;
    }

    .perfil-imagem{
        margin-top: 1rem;
    }
}
@media (min-width: 281px) and (max-width: 414px) {
    .info-container{
        width: 22rem!important;
        margin-top: 1rem!important;

    }
    .info-item{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        font-size: small;
        text-align: center;

    }

    .progress{
        width: 300px;
    }
    .perfil-imagem{
        margin-top: 1rem;
    }
    

}

@media (min-width: 415px) and (max-width: 600px) {
    .info-container{
        width: 27rem!important;
        margin-top: 1rem!important;

    }
    .info-item{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        font-size: small;
    }
    .progress{
        width: 380px;
    }
    .perfil-imagem{
        margin-top: 1rem;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .info-container{
        width: 37rem!important;
        margin-top: 1rem!important;

    }
    .info-item{
        text-align: center;

    }
    .progress{
        width: 540px;
    }
    .perfil-imagem{
        margin-top: 1rem;
    }
}


@media (min-width: 768px) {
    .info-item p{
        margin-left: 15px;
    }
}


/* pagina jogo */

@media (max-width: 1280px) {
    #alert {
        margin-top: 12rem;
    }
}

canvas {
    border: 2px solid rgb(237 240 244 / 48%);    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;

}

#gameTitle{
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;    
    margin-top: 25px;

}

.controls {
    border: 2px solid #fff;
    margin-top: 10px;
    width: 1200px;
    margin-left: 3rem;
    margin-bottom: 1rem;
    
}

.controls h3 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}

.controls .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls p {
    font-size: 22px;
    color: #ffffff;
}

.controls img {
    width: 25%;
    max-width: 100px; 
    height: 50px;
    image-rendering: pixelated;
}


.imagem-z{
    width: 13%!important;
    margin-left: 25px;
}
.control-panel{
    margin-left: 20rem;
    margin-bottom: 3rem;
}

 /*Rank Page  */


.rank{
    width: 100%;
    min-height: 50%;

}

.rank h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}