{% extends "base.html" %} {% block title %}PuzzleCrafter{% endblock %} {% block content
  %}
  <div class="home" align="center">
    <h1><strong>Aprenda programação</strong> e raciocínio Lógico de forma divertida </h1>  
      <br>
      <h3>Um jogo feito para aprendizagem de forma simples e divertida, para leigos e conheçedores da área</h3>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-secondary btn-lg"><a href="/play-game">Jogar</a></button>
      <button type="submit" class="btn btn-secondary btn-lg"><a href="/sobre-projeto">Sobre o Projeto</a></button>
    </div>
    <div class="content">
      <h3>O que podemos aprender?</h3>
      <div class="col-3 texto-bloco">
        <i class="bi bi-arrow-left-right"></i>                  
        <h3> <b>Tomada de Decisões</b></h3>
          <p>
            A vida está repleta de decisões, desde escolher uma carreira até tomar decisões cotidianas. O raciocínio lógico nos permite avaliar as opções disponíveis, 
            analisar as consequências e tomar decisões informadas
          </p>
      </div>
      <div class="col-3 texto-bloco">
        <i class="bi bi-lightbulb-fill"></i>        
        <h3> <b>Desenvolvimento Cognitivo</b> </h3>
          <p>
            O exercício constante do raciocínio lógico estimula o cérebro e melhora as habilidades cognitivas, 
            como a concentração, a memória e a criatividade.
          </p>
      </div>
      <div class="col-3 texto-bloco">
        <i class="bi bi-book"></i>        
        <h3><b>Melhoria no Desempenho Acadêmico e Profissi  onal</b></h3>
          <p>
            Ter um raciocínio lógico afiado pode impulsionar o desempenho em disciplinas acadêmicas, 
            bem como na resolução de problemas no ambiente de trabalho.
          </p>
        </div>   
    </div>
  </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="../static/game/assets/hero-profile.png" alt="Foto heroi" class="perfil-imagem">
      </div>
      <div class="col-md-4">
        <h2>Greek quest</h2>
        <p>Uma aventura com temática na grecia antiga, com 2 personagens</p>
      </div>
      <div class="col-md-4">
        <img src="../static/game/assets/priestness-profile.png" alt="Foto de sacerdotisa" class="perfil-imagem">
      </div>
    </div>
  </div>
  <div class="content-video"align="center">
    <h2>
       Labirinto Lógico <br> 
      <small class="text-body-secondary">Torne-se um mestre na solução de quebra-cabeças lógicos.</small>
    </h2>
    <iframe   width="900" height="600" src="https://www.youtube.com/embed/2P_esm8cNgU"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
  </div>
  <br><br><br><br>
    {% endblock %}