{% extends "base.html" %} {% block title %}PuzzleCrafter{% endblock %} {% block content
    %}

    <div id="circle-shape-example">
        <img src="../static/images/IFSC_logo_vertical.png" alt="Imagem de perfil" class="curve" >
        <h2>Sobre Nós</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quidem molestiae nostrum? Officia, libero numquam cupiditate dicta doloribus dolorum voluptatem exercitationem voluptate nam obcaecati magni aspernatur voluptatum, accusantium ratione sed!
        Iure asperiores, veniam odio itaque vel, obcaecati, sunt quas velit vero fuga adipisci nisi. Illum, cupiditate eos incidunt iste eius mollitia molestiae. Veniam, necessitatibus corporis nobis expedita accusantium cum doloribus.
        Porro necessitatibus molestias similique itaque est aliquid ullam blanditiis ipsam! Natus ab obcaecati minus atque aliquid ea sequi sed tempora rem dolorum, eius aliquam ut officia itaque nesciunt! Delectus, libero?
        Explicabo veniam quos delectus. Itaque facere veniam culpa voluptatum voluptate perspiciatis architecto amet minus nulla laudantium sequi unde dolorem laborum iure necessitatibus distinctio enim explicabo, aspernatur tempore obcaecati, esse nemo.</p>
    </div>
    {% endblock %}