{% extends "base.html" %} {% block title %}PuzzleCrafter{% endblock %} {% block content
    %}
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div id="circle-shape-example">
        <img src="../static/images/IFSC_logo_vertical.png" alt="Imagem de perfil" class="curve" >
        <h2>O Projeto</h2>
            <p>Esta aplicação WEB foi desenvolvido pelo aluno Ryan Marcos Fragnani Cardoso, do curso de Sistemas para Internet no Instituto Federal de Santa Catarina da turma de 2021, para fins de realizar seu trabalho de conclusão de curso no ano de 2023, orientado pela Professora Thaiana dos Anjos Reis, com o objetivo de ensinar lógica e raciocínio lógico aos que possuem interesse pela aprendizagem das disciplinas. O ensino é realizado por um jogo educativo inspirado na mitologia da Grécia antiga, em que os alunos precisam de raciocínio lógico para resolver os desafios, o jogo consta no momento como uma demonstração do que é possivel realizar com o desenvolvimento de jogos educativos.</p>
        </div>
    </div>
    {% endblock %}